body {
    font-family: "Syne", sans-serif;
}

/* Header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-navigation {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

#menu-navigation a {
    text-decoration: none;
    color: black;
}

.image-logo {
    margin-top: 5px;
    margin-left: 10px;
    width: 200px;
    height: auto;

}

#menu-navigation li.menu-item a[href*="commander"] {
    display: flex;
    padding: 18px 40px;
    background-color: #DC9F96;
    color: white;
}

/* Footer */
#footer {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}


/* Home  */
.home-page-title1 {
    color: #3B8E46;
    text-align: center;
    font-family: Syne;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.left-flower {
    display: inline;
    position: absolute;
    top: 53%;
    left: 31.3%;
}

.right-flower {
    display: inline;
    position: absolute;
    top: 53%;
    right: 32%;

}

.planty-can {
    display: inline;
    position: relative;
}

.planty-can-energy-drink {
    display: flex;
    justify-content: center;
}

/* Responsive  */
@media screen and (max-width: 320px) {

    /* Modifier la mise en page pour les petits écrans */
    #header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #site-title {
        text-align: center;
        margin-bottom: 10px;
    }

    #menu-navigation {
        display: flex;
        align-items: center;
    }

    #menu-navigation li.menu-item a[href*="commander"] {
        padding: 15px 5px;
    }

    /* Home page  */

    .home-page-title1 {
        font-size: 20px;
    }

    .planty-can {
        display: inline-block;
        position: relative;
        width: 100px;
    }

    .left-flower,
    .right-flower {
        display: inline;
        position: absolute;
        top: 65%;
        width: 50px;
    }

}